<!DOCTYPE html>
<html lang="en">
<head>
    <div id="ref">
        <nav>
            <ul>
                <li><a>Home</a></li>
                <li><a><i class="glyphicon glyphicon-user"></i>About Me</a></i></li>
                <li><a href="https://www.linkedin.com/in/bhavesh-naik-189257258">Connect</a></li>
            </ul>
        </nav>
    </div>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js"></script>
    <p id="heading">Mausam</p>
    <div class="card">
        <div class="search" >
            <input type="text" placeholder="Enter City" spellcheck="false"><br>
            <button type="button" id="searchbtn"><img src=".\img\Weatherimg\search.png">Search</button><br>
        </div>
        <input type="radio" id="deg" name="Temperature" value="Degree">
        <label for="Degree">Degree</label>
        <input type="radio" id="fer" name="Temperature" value="Ferhenite">
        <label for="Ferhenite">Ferhenite</label><br>
        <div>
            <h5 id="Country">
                Country
            </h5>
        </div>
        <div class="weather">
        
            <img src=".\img\Weatherimg\rain.png" class="weather-icon">
            <h1 class="Temperature">33°C</h1>
            <h2 class="cityname">Goa</h2>
            <h3 id="des">
                Update
            </h3>
            <div class="details">
                <div class="col">
                    <img src=".\img\Weatherimg\humidity.png">
                    <div >
                        <p class="humidity">
                            50%
                        </p>
                        <p>Humidity</p>
                    </div>
                </div>
                <div class="col">
                    <img src=".\img\Weatherimg\wind.png">
                    <div >
                        <p class="wind">
                            15km/h</p>
                        <p>wind speed</p>
                    </div>
                </div>
            </div>
            <div class="suntime">
                <div class="col">
                    <img src=".\img\Weatherimg\sunrise.png">
                    <div >
                        <p id="sunrisT">
                            6:30 am
                        </p>
                        <p>Sunrise</p>
                    </div>
                </div>
                <div class="col">
                    <img src=".\img\Weatherimg\sunset.png">
                    <div >
                        <p id="sunsetT">6 30pm
                            </p>
                        <p>Sunset</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="result">
        <label id="opcity">
        </label>
    </div>
    <script>
//         let inp;
// let city="Goa";
// const apikey="42a36296bc65f610a23d0bbe9a176983";
// const apiUrl="https://api.openweathermap.org/data/2.5/weather?q=goa&appid=56d5c8908be366ba059962f0e2bf8a1c";

//     async function checkWeather(){
//         const response=await fetch(apiUrl+'&appid=${apikey}');
//         var data=await response.json();

//         //console.log(data)
//         document.querySelector(".cityname").innerHTML=data.name;
//         document.querySelector(".Temperature").innerHTML=data.main.temp;
//         document.querySelector(".humidity").innerHTML=data.main.humidity;
//         document.querySelector(".wind").innerHTML=data.main.wind;
// }
// checkWeather();
    </script>
    
</body>



</html>